.body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: 'Poiret One', cursive;
}

#container {
	z-index: 0;
	height: 100%;
}

.nom {
	position: absolute;
	color: black;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 50%;
	text-align: center;
	margin: auto;
	z-index: 6;
	font-size: 0.7em;
}

.toto {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
}