<div class="container">

  <h1>Ma bio</h1>
  <div class="row">

    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-12 order-md-2">
      <img class="rounded-circle mx-auto d-block picture" src="assets/img/adrien_juhem_photo_cv.jpg" alt="photo de Adrien Juhem Web developpeur">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-5 col-xs-12 order-md-3">
      <ul class="list-unstyled texte">
        <li class="title">Nom :</li>
        <li>Adrien Juhem</li>
        <li class="title"> Age :</li>
        <li>{{age}} ans</li>
        <li class="title">Adresse :</li>
        <li>Grenoble, France, Planète Terre</li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-5 col-xs-12 order-1 order-md-1">

      <p class="texte">Je suis
        <strong>analyste développeur</strong>, je développe des applications web et mobile. J'ai eu une formation dispensée par les
        meilleurs au
        <strong>Campus Numérique In The Alps</strong>, une initiative soutenue par la
        <strong>French Tech</strong>. Je suis passionné par les nouvelles technologies, j'aime peaufiner mes projets de la conception
        jusqu'à la mise en ligne. Je suis
        <strong>curieux</strong>,
        <strong>créatif</strong>,
        <strong>Agile</strong>, j'aime beaucoup travailler en équipe et j'ai le goùt pour les challenges. J'ai également un background
        dans les biotechnologies et le management de projet qui m'a apporté une
        <strong>rigueur scientifique
        </strong> et un
        <strong>sens critique</strong> très développé.

      </p>
    </div>
  </div>
</div>