#container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	height: 100%;
	background-color: #ffffff;
}

.nom {
	position: absolute;
	color: black;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 50%;
	text-align: center;
	margin: auto;
	z-index: 99;
	font-size: 0.7em;
}

.toto {
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.5);
}

a, a:hover {
    text-decoration: none ;
}