@media (min-width: 1200px) {


.horizontalLine {
	width: 100%;
	position: absolute;
	border-bottom: 2px solid #b5b5b5;
	z-index: -1;
	margin-top: 70px;
}

.ligne {
	display: inline-block;
	margin-right: 2.5%;
	margin-left: 2.5%;
}

button {
	background: none !important;
    color: inherit;
    border: none;
    padding: 0! important;
    font: inherit;
    cursor: pointer;
	outline: inherit !important;
	text-align: left;
	width: 100%;
} 

.history {
	color: #b5b5b5;
	margin-top: 10px;
	margin-bottom: 10px;
}

button:hover, 
button:active,
button:focus {
	color: #595959;	
}

button:hover > .circle, 
button:active > .circle,
button:focus > .circle {
	color: #fff;
	background-color: #fff;	
	border-color: #60AB64;	
}

.circle2 {
	visibility: hidden;	
}

	button:hover > .circle2, 
	button:active > .circle2,
	button:focus > .circle2 {
		position: absolute;
		visibility: visible;
		border: 2px solid #60AB64;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		text-align: center;
		margin-top: 15px;
		margin-left: 15px;
		background-color: #60AB64;
	}

	.titre {
		position: absolute;
		display: block;
		margin-top: 70px;
		margin-left: 10px;
		transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		-khtml-transform: rotate(40deg);
		width: 300px;
	}

	.circle {
		border: 2px solid #b5b5b5;
		width: 54px;
		height: 54px;
		border-radius: 27px;
		text-align: center;
		background-color: #fff;
	}

	.material-icons {
		margin-top: 5px;
		font-size: 40px;
	}

	.work {
		margin-top: 8px;
		font-size: 36px;
	}

	.year {
		font-size: 1.5em;
	}

	button:hover > .exp, 
	button:active > .exp{
		color: #000000;
	}

	.fond {
		margin-top: 14%;
		width: 100%;
		background-color: #f9f9f9;
	}

	.smallScreen {
		visibility: hidden;
		position: absolute;
	}

	.baseText {
		margin-top: 14%;
		width: 100%;
		font-weight: bold;
		font-style: italic;
		font-size: 2em;
		color: #b5b5b5;
		margin-top: 250px;
	}

}

@media (max-width: 1199px) {

	.fond {
		visibility: hidden;
	}
	.ligne {
		visibility: hidden;
		position: absolute;
	}

	.logo {
		width: 100px;
		margin-bottom: 15px;
	}
	
	.material-icons {
		font-size: 60px;
	}
	
	.titleStory > span {
		font-size: 60px;
		font-weight: bold;
	}
	
	.title {
		font-size: 20px;
		font-weight: bold;
	}
	
	.ligne{
		display: inline-block;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	
	.content {
		font-size: 16px;
	}
	
	.icon {
		float: right;
	}
	
	.footer {
		background-color: #f9f9f9;
		width: 100%;
		padding: 20px 40px 20px 40px;
		margin-bottom: 20px;
	}
	
 }
