<div class="container">
	<h1>Mon experience et ma formation</h1>
</div>

<div class="horizontalLine"></div>
<div *ngFor="let experience of experiences" class="ligne">
	<button (click)="exp=experience" class="history">
		<div class="content2 year">{{experience.date}}</div>
		<span class="circle2"></span>
		<div class="circle content2">
			<span class="material-icons {{experience.type}}">{{experience.type}}</span>
		</div>
		<div class="titre">
			<p>{{experience.entreprise}}
				<br>{{experience.title_short}}</p>
		</div>
	</button>
</div>

<div *ngFor="let exp of experiences" class="smallScreen">
	<div class="footer">
		<span>
			<a href="{{exp.url}}" target="blank" title="{{exp.entreprise}} Adrien Juhem">
				<img class="logo" src="assets/img/{{exp.photo}}" alt="{{exp.entreprise}} Adrien Juhem">
			</a>
		</span>
		<h3 class="ligne">{{exp.entreprise}}</h3>

		<div>
			<p class="title">{{exp.date}} - {{exp.poste}}</p>
		</div>
		<div>
			<p class="content">{{exp.resume}}</p>
		</div>
	</div>
</div>



<div *ngIf="!exp" class="baseText text-center"> Cliquez sur une expérience </div>

<div class="fond">
	<div app-experience *ngIf="exp!=undifined" [exp]="exp" class="container"></div>
</div>