.logo {
    width: 100px;
    margin-bottom: 15px;
}

.material-icons {
    font-size: 60px;
}

.titleStory > span {
    font-size: 60px;
    font-weight: bold;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.ligne{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
}

.content {
    font-size: 1.3em;
}

.icon {
    float: right;
}

.footer {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.iconBack {
    position: absolute;
    font-size: 360px;
    margin-top: -1%;
    margin-left: -23%;
    color: #fff;
}

