<div class="footer">
  <span class="material-icons iconBack">{{exp.type}}</span>
  <span>
    <a href="{{exp.url}}" target="blank">
      <img class="logo" src="assets/img/{{exp.photo}}" alt="{{exp.entreprise}} Adrien Juhem">
    </a>
  </span>
  <h3 class="ligne">{{exp.entreprise}}</h3>

  <div>
    <p class="title">{{exp.poste}}</p>
  </div>
  <div>
    <p class="content">{{exp.resume}}</p>
  </div>
</div>