@media (max-width: 1199px) {

	.burger {
		margin-top: 20px;
		background-color: #fcfcfc;
	}

	.burger span {
		color: #60AB64;
		font-size: 3em;
	}

	.burger span:hover {
		color: #929292;
	}

	.largeScreen {
		visibility: hidden;
		position: absolute;
	}

	.menu__item, .menu__list {
		display : block;
		width: 100%;
	}

	.menu__item {
		margin: 0px;
		display: block;
	}

	.menu {
		line-height: 1;
		margin: 0px auto 3em;
		background-color: #fcfcfc;
	
	}

	.buttonBurger {
		background: none !important;
		color: inherit;
		border: none;
		padding: 0! important;
		font: inherit;
		cursor: pointer;
		outline: inherit !important;
		text-align: left;
		width: 100%;
	}

	footer {
		width: 100%;
		margin-top: 10%
	}

}

@media (min-width: 1200px) {
	.burger {
		visibility: hidden;
		position: absolute;
	}
	.smallScreen {
		visibility: hidden;
		position: absolute;
	}
	.menu__item {
		display: block;
		margin: 1em 0;
	}

	.menu {
		line-height: 1;
		margin: 1em auto 3em;
		background-color: #fcfcfc;
	
	}
}

/* Common styles for all menus */
.fileDownload {
	color: #60AB64;
	margin-top: 10px;
	font-size: 2.3em;

}

.menu__list {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
	outline: none;
}

/* Sebastian */
.menu--sebastian .menu__link {
	position: relative;
	display: block;
	margin: 0 1em;
	text-align: center;
	color: #b5b5b5;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.menu--sebastian .menu__link:hover,
.menu--sebastian .menu__link:focus {
	color: #929292;
}

.menu--sebastian .menu__item--current .menu__link {
	color: #60AB64;
}

.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #60AB64;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.menu--sebastian .menu__link::before {
	top: 0;
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.menu--sebastian .menu__link::after {
	bottom: 0;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.nameNavbar{
	color: #60AB64;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-size: 2em;
	font-style: italic;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	margin-right: 2em;
	margin-left: 1em;
}
.nameNavbar:hover{
	color: #1e1a1b;
}

.nameLi {
	margin-top: 0px;
	height: 3em; 
	line-height: 3em; 
	white-space: nowrap; 
}

.link--manko::before,
.link--manko::after {
	border-width: 2px 0;
}

.icon {
	width: 2em;
}

.icons{
	margin-top: 0.5em;
	height: 3em; 
	line-height: 3em; 
	white-space: nowrap; 
	margin-right: 1em;
}

.rigth {
	float: right;
	display: inline-block;
}

.footerStyle{
	border: solid 1px #b5b5b5;
}

.footerColor {
	color: #b5b5b5;
}

.distance {
	margin-top: 150px;
}