<div class="container-fluid burger">
	<div class="container">
		<button class="buttonBurger">
			<span class="material-icons" (click)="showMenu = !showMenu">menu</span>
		</button>
	</div>
</div>

<nav class="menu menu--sebastian navbar smallScreen" *ngIf="showMenu">

	<ul class="menu__list ">
		<li class="menu__item">
			<a routerLink="/home" routerLinkActive="active" class="menu__link" (click)="showMenu = false">Accueil</a>
		</li>
		<li class="menu__item ">
			<a routerLink="/competence" routerLinkActive="active" class="menu__link" (click)="showMenu = false">Compétences</a>
		</li>
		<li class="menu__item">
			<a routerLink="/exp" routerLinkActive="active" class="menu__link" (click)="showMenu = false">Experiences</a>
		</li>
		<li class="menu__item">
			<a routerLink="/book" routerLinkActive="active" class="menu__link" (click)="showMenu = false">Réalisations</a>
		</li>
		<li class="menu__item">
			<a routerLink="/contact" routerLinkActive="active" class="menu__link" (click)="showMenu = false">Contact</a>
		</li>
		<li class="menu__item">
			<a href="assets/pdf/cv_adrienJuhem.pdf" download="cv_adrien_juhem" class="menu__link" title="Telechargez mon CV au format PDF">Telecharger au format PDF</a>
		</li>
	</ul>
</nav>

<nav class="menu menu--sebastian navbar largeScreen">

	<ul class="menu__list">
		<li class="menu__item menu__item--current nameLi">
			<a routerLink="/home" routerLinkActive="active" class="nameNavbar link link--manko">Adrien Juhem</a>
		</li>
		<li class="menu__item">
			<a routerLink="/competence" routerLinkActive="active" class="menu__link">Compétences</a>
		</li>
		<li class="menu__item">
			<a routerLink="/exp" routerLinkActive="active" class="menu__link">Experiences</a>
		</li>
		<li class="menu__item">
			<a routerLink="/book" routerLinkActive="active" class="menu__link">Réalisations</a>
		</li>
		<li class="menu__item">
			<a routerLink="/contact" routerLinkActive="active" class="menu__link">Contact</a>
		</li>
	</ul>

	<ul class="menu__list navbar-nav flex-row ml-md-auto d-none d-md-flex">
		<li class="menu__item icons">
			<a href="assets/pdf/cv_adrienJuhem.pdf" download="cv_adrien_juhem" title="Telechargez mon CV au format PDF">
				<span class="material-icons fileDownload">file_download</span>
			</a>
		</li>
		<li class="menu__item icons first">
			<a href="https://www.linkedin.com/in/adrien-juhem-a5626848/" target="_blank" title="Visitez ma page Linkedin">
				<img class="icon" src="assets/img/linkedin.png" alt="Icon made by SimpleIcon from www.flaticon.com" target="_blank">
			</a>
		</li>
		<li class="icons">
			<a href="https://github.com/adritaptap" target="_blank" title="Visitez ma page Github">
				<img class="icon" src="assets/img/github.png" alt="Icon made by Dave Gandy from www.flaticon.com ">
			</a>
		</li>
	</ul>
</nav>

<router-outlet></router-outlet>

<footer class="smallScreen">
	<ul class="menu__list nav justify-content-center">
		<li class="icons nav-item">
			<a href="https://www.linkedin.com/in/adrien-juhem-a5626848/" target="_blank">
				<img class="icon" src="assets/img/linkedin.png" alt="Icon made by SimpleIcon from www.flaticon.com" target="_blank">
			</a>
		</li>
		<li class="icons nav-item">
			<a href="https://github.com/adritaptap" target="_blank">
				<img class="icon" src="assets/img/github.png" alt="Icon made by Dave Gandy from www.flaticon.com ">
			</a>
		</li>
	</ul>
	<ul class="menu__list nav justify-content-center">
		<li class="icons nav-item footerStyle"></li>
		<li class="icons nav-item footerColor">Made with ♥, Angular 4 and Symfony 3</li>
		<li class="icons nav-item footerStyle"></li>
	</ul>
</footer>

<footer class="largeScreen distance">
	<ul class="menu__list justify-content-center">
		<li class="icons nav-item footerStyle"></li>
		<li class="icons nav-item footerColor">Made with ♥, Angular 4 and Symfony 3</li>
		<li class="icons nav-item footerStyle"></li>
	</ul>
</footer>