<div class="container">

    <h1>Mes compétences</h1>
    <div class="buttonGroup">
        <button class="btn btn-outline-success" autofocus (click)="filter('web')">Language web</button>
        <button class="btn btn-outline-success" (click)="filter('framework')">Framework</button>
        <button class="btn btn-outline-success" (click)="filter('logiciel')">Language Logiciel</button>
        <button class="btn btn-outline-success" (click)="filter('outil')">Outils</button>
        <button class="btn btn-outline-success" (click)="filter('graphisme')">Graphisme</button>
        <button class="btn btn-outline-success" (click)="filter('bio')">Sciences du vivant</button>
        <button class="btn btn-outline-success" (click)="filter(undefined)">
            <strong>X</strong>
        </button>
    </div>
    <div class="row text-center">
        <div *ngFor="let competence of competences">
            <div *ngIf="competence.type==type||type==undefined" class="col-lg-3 col-md-4 col-sm-12 circle">
                <circle-progress [percent]="competence.niveau" [radius]="100" [outerStrokeWidth]="14" [innerStrokeWidth]="8" [title]="competence.nom"
                    [subtitle]="competence.niveau + '%'" [animation]="true" [animationDuration]="600"></circle-progress>
            </div>
        </div>
    </div>
</div>