.buttonGroup {
    margin-bottom: 40px;
}

.btn-outline-success:focus {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

@media (max-width: 575px) { 

    .circle {
        align-content: center;
        width: 50%;
        margin: auto;
    }
 }
