@media (min-width: 1200px) {
    .big {
        visibility: visible;
    }
    .small {
        visibility: hidden;
        position: absolute;
    }
}

@media (max-width: 1199px) {
    .small {
        visibility: visible;
        outline: none;
    }
    .small a {
        text-decoration: none;
        position: relative;
        font-size: 8em;
        line-height: 1;
        color: #9e9ba4;
        display: inline-block;
        color: #60AB64;
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-style: italic;
        padding: 0.65em 0 0.8em;
        -webkit-transition: color 0.5s;
        transition: color 0.5s;
    }
    .big {
        visibility: hidden;
        position: absolute;
    }
}