<h1 class="nom big">
    <a href="/home" class="link link--manko">Adrien Juhem
        <span class="toto">Biotechnology</span>
        <span class="toto">Web Developer</span>
    </a>
</h1>

<h1 class="nom small">
    <a href="/home" >Adrien Juhem
    </a>
</h1>

<div id="container"></div>