<div class="container">

	<div class="row justify-content-center">
		<div class="col-md-6 col-sm-12">
			<h1>Une question ? Envie de boire un café ? </h1>

			<div *ngIf="alert" class="alertWidth {{color}}" role="alert">{{info}}</div>
			<div class="form-group">
				<label for="name">Nom</label>
				<input [ngClass]="{'invalid' : nameVerif}" type="text" class="form-control" id="name" aria-describedby="lastnameHelp" placeholder="votre nom"
				 [(ngModel)]="name" required>
			</div>
			<div class="form-group">
				<label for="email">Adresse mail</label>
				<input [ngClass]="{'invalid' : emailVerif}" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="exemple@email.com"
				 [(ngModel)]="email" required>
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<textarea [ngClass]="{'invalid' : textVerif}" class="form-control" id="message" rows="3" [(ngModel)]="text" required></textarea>
			</div>
			<div class="row justify-content-center">
				<button type="submit" class="btn btn-outline-success" (click)="sendEmail()">Envoyer</button>
				<div class="justify-content-center">
					<div class="spinner" *ngIf="loading">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>