* {
  font-family: 'Raleway', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.alertWidth {
  width: 100%;
}

.spinner {
  margin: 20px auto 0;
  width: 90px;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #60AB64;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  .invalid {
    border: 1px solid #CC915E;
  }

  .container {
    margin-top: -20px;
  }

  button:hover {
    background-color: #60AB64;
  }

  input, textarea {
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;

 }