<div class="container">
  <h1>Mes réalisations</h1>
</div>

<div *ngFor="let book of books" class="back">
  <div class="container">
    <div class="real row">
      <div class="col-md-6 align-self-center">
        <h3>
          <a class="title" target="blank" href="{{book.link}}">{{book.title}}</a>
        </h3>
        <p>
          {{book.content}}
        </p>
      </div>
      <div class="col-md-6 ">
        <a target="blank" href="{{book.link}}">
          <img class="imgSite" src="assets/img/{{book.image}}" alt="realisation cv adrien juhem">
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="real">
    <a class="btn btn-lg btn-block btn-outline-dark" target="blank" href="https://github.com/adritaptap">mon Github</a>
  </div>
</div>