.title {
 color: #60AB64;
 font-weight: bold;
}

.logo {
    width: 20%;
}

.img {
    width: 40%
}

.real {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 1.2em;
}

.imgSite {
    width: 80%;
    border: thin solid #b5b5b5;
    margin-left: 40px;
}

.back {
	width: 100%;
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}
